{% block server_redirect %}
{% if site_ssl_enabled %}
server {
    listen 80;
    listen [::]:80;
    server_name {{ site_hosts | join(' ') }};

    include acme-challenge-location.conf;

    location / {
        return 301 https://{{ item.value.hosts.canonical }}$request_uri;
    }
}

{% endif %}
{% if item.value.hosts.redirects is defined and item.value.hosts.redirects %}
server {
    listen {{ site_ssl_enabled | ternary('443 ssl http2', '80') }};
    listen [::]:{{ site_ssl_enabled | ternary('443 ssl http2', '80') }};
    server_name {{ item.value.hosts.redirects | join(' ') }};

    {% block server_redirect_ssl -%}
    # SSL
    {% if site_ssl_enabled -%}
    ssl_buffer_size 1400; # 1400 bytes to fit in one MTU
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; ";
    ssl_certificate         {{ nginx_path }}/ssl/letsencrypt/{{ item.key }}-{{ letsencrypt_cert_ids[item.key] }}-bundled.cert;
    ssl_certificate_key     {{ nginx_path }}/ssl/letsencrypt/{{ item.key }}.key;
    {% endif -%}
    include acme-challenge-location.conf;
    {% endblock %}

    location / {
        return 301 $scheme://{{ item.value.hosts.canonical }}$request_uri;
    }
}

{% endif %}
{% endblock -%}

server {
    {% block server_basic -%}
    listen {{ site_ssl_enabled | ternary('443 ssl http2', '80') }};
    listen [::]:{{ site_ssl_enabled | ternary('443 ssl http2', '80') }};
    server_name {{ item.value.hosts.canonical }};
    {% endblock %}

    {% block server_root -%}
    # Application root
    root {{ site_root }}/{{ item.value.web_root | default('current') }};
    index {{ item.value.index | default('index.html') }};
    {% endblock %}

    {% block server_logs -%}
    # Logs
    access_log {{ site_root }}/logs/access.log;
    error_log {{ site_root }}/logs/error.log;
    {% endblock %}

    {% block server_ssl -%}
    # SSL
    {% if site_ssl_enabled -%}
    ssl_buffer_size 1400; # 1400 bytes to fit in one MTU
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; ";
    ssl_certificate         {{ nginx_path }}/ssl/letsencrypt/{{ item.key }}-{{ letsencrypt_cert_ids[item.key] }}-bundled.cert;
    ssl_certificate_key     {{ nginx_path }}/ssl/letsencrypt/{{ item.key }}.key;
    {% endif -%}
    include acme-challenge-location.conf;
    {% endblock %}

    {% block server_custom %}{% endblock %}
}
